<h1> Create a New Figure </h1>

<form action='/figures' method="POST">

  <label>Name</label>
  <input type="text" name="figure[name]" id="figure_name">

  <br></br>

  <h2><label>Titles</label></h2>
    <%@titles.each do |title|%>
    <br></br>
      <%=title.name%>
      <input type="checkbox" value="<%=title.id%>" name="figure[title_ids][]" id="title_<%=title.id%>">
      <%end%>


  <br></br>

  <b><label>Create New Title</label></b>
  <input type="text" name="title[name]" id="new_title">

  <br></br>

  <h2><label>Landmarks</label></h2>
  <%@landmarks.each do |landmark|%>
      <br></br>
  <%=landmark.name%>
  <input type="checkbox" value="<%=landmark.id%>" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>">
  <%end%>

  <br></br>

  <b><label>Create New Landmark:</label></b>
  <input type="text" name="landmark[name]" id="landmark_name">

  <br></br>
  <input type="submit" value="Create New Figure">

</form>
